.banner-area {
    padding: 20px;
    /* Adjust padding as needed */
}

.text-center {
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.b-content-1 {
    padding: 20px;
}

.banner-area {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    color: #f8f9fa;
    /* Optional background color */
    text-align: center;
    /* Center text horizontally */
    background-color: #1A3636;
}

.b-content-1 {
    color: #f8f9fa;
    /* Text color */
}

/* h1,
p {
    margin: 0;
    Remove default margin
} */

.about-area {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    background-color: #f8f9fa;
    /* Optional background color */
    text-align: center;
    /* Center text horizontally */
    /* border-top: 2px solid blue */
}

.skills-area {
    height: 100vh;
    /* Full height of the viewport */
    display: grid;
    align-items: center;
    /* Center vertically */
    /* justify-content: center; */
    /* Center horizontally */
    background-color: #f8f9fa;
    /* Optional background color */
    /* text-align: center; */
    /* Center text horizontally */
    /* border-top: 2px solid red */
}

.contact-area {
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    background-color: #f8f9fa;
    /* Optional background color */
    text-align: center;
    /* Center text horizontally */
    border-top: 2px solid orange
}

.nav {
    background-color: transparent;
    color: #D6BD98;
}

.nav-link {
    color: #D6BD98;
    font-size: 16px;
}


.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #ffffff;
    /* Fallback color */
    background: linear-gradient(to right, #4d4d4d, white, #4d4d4d);
    -webkit-background-clip: text;
    /* For WebKit browsers */
    -webkit-text-fill-color: transparent;
    /* For WebKit browsers */
    background-clip: text;
    /* Standard syntax for future compatibility */
    text-fill-color: transparent;
    /* No standard syntax yet, for future proofing */
    animation: shine 3s infinite linear;
    white-space: nowrap;
    text-decoration: none;
    /* Only needed if .name is an <a> tag */
}

/* Animation Example */
@keyframes shine {
    0% {
        background-position: 0%;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180%;
    }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(90deg,
            #9b8127 0%,
            #d4b550 39%,
            #fee8a1 50%,
            #d4b550 61%,
            #9b8127 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 3s ease infinite;
    /* font-size: 1em; */
    font-weight: bold;
}

@keyframes move {
    0% {
        background-position: -100% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.who {
    color: #d4b550;
    font-size: 4rem;
    font-family: 'Helvetica', sans-serif;
}

.skills-title {
    color: #d4b550;
    font-size: 4rem;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.card {
    height: 250px;
    width: 100%;
    background: #e8e8e8;
    box-shadow: 1px 1px 5px lightgrey;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}



/*  */
.logo-slider {
    overflow: hidden;
    position: relative;
    width: 80%;
    margin-left: 100px;
}

.logo-slider .slides {
    display: flex;
    animation: slide 15s linear infinite;
}

.logo-slider .slide {
    flex: 0 0 auto;
    width: 100px;
    /* Adjust width as needed */
    margin: 0 20px;
}

.logo-slider img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contact-area {
    background-color: #1A3636;
}

/*  */

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background-color: #1A3636;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #d4b550;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #d4b550;
    font-size: 15px;
}

.e-label {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #d4b550;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}


.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #d4b550;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

/* .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
} */

/* .subscribe-form button {
    position: absolute;
    right: 0;
    background: #9b8127;
    padding: 29px 20px;
    border: 1px solid #9b8127;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
} */

.copyright-area {
    background: #fffdfd;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #9b8127;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #d4b550;
}

.footer-menu li a {
    font-size: 14px;
    color: #d4b550;
}